<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>SQLcoin Server</title>
</head>

<body>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/tx">Transactions</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{.TxHash}}</li>
            </ol>
        </nav>
        <p>{{.PageTitle}}</p>

        <div class="row">
            <div class="col-6">
                <h5>Inputs</h5>
                {{range .Inputs}}
                    <p style="word-break: break-all;">{{.PrevOutHash}}:{{.PrevOutIndex}}</p>
                {{end}}
            </div>
            <div class="col-6">
                <h5>Outputs ({{totalBtc .Outputs}} BTC)</h5>
                {{range .Outputs}}
                    <p style="word-break: break-all;">{{.Address}} : {{satsToWhole .Amount}} BTC</p>
                {{end}}
            </div>
        </div>
    </div>
</body>

</html>