<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- <style>
        .card:not(:last-child) {
            margin-bottom: 20px;
        }
    </style> -->
    <title>SQLcoin Server</title>
</head>

<body>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/outputs">Outputs</a></li>
                <li class="breadcrumb-item"><a href="/tx/{{.Output.TxHash}}">{{.Output.TxHash}}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{.Output.Index}}</li>
            </ol>
        </nav>
        <p>{{.PageTitle}}</p>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{.Output.TxHash}} : {{.Output.Index}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Timestamp</h6>
                <p class="card-text">{{timestampToTime .Output.Timestamp}}</p>
                <h6 class="card-subtitle mb-2 text-muted">Block Hash</h6>
                <p class="card-text">{{.Output.BlockHash}}</p>
                <h6 class="card-subtitle mb-2 text-muted">Address</h6>
                <p class="card-text">{{.Output.Address}}</p>
                <h6 class="card-subtitle mb-2 text-muted">Amount</h6>
                <p class="card-text">{{satsToWhole .Output.Amount}} BTC</p>
            </div>
        </div>
    </div>
</body>

</html>